[2013-02-05 17:21] jptoto opened #1 "Add lib support for net45, net35, net30, net20"

[2013-07-30 04:26] worldspawn opened #4 "Release package that references log4net 1.2.11"
As the log4net have inexplicably changed their public key its not possible to do assembly binding redirects. Will you release a version referencing 1.2.11?

[2013-09-13 03:48] worldspawn opened #5 "Appender works via iisexpress but not IIS"
Hi,

I've got a project where the appender is appending when the site is hosted out of iis express but when i shift it to iis (same box) it doesn't send the log event to elasticsearch.

Elasticsearch is on another machine. I can see the call is made to client.IndexAsync but I can see my fiddler traffic no http request was made.. any thoughts?

[2013-09-16 19:29] #4 closed, assigned to nobody

[2013-12-11 14:22] #5 closed, assigned to nobody

[2013-12-11 14:22] jptoto opened #6 "Remove client.isvalid calls and update NEST lib"

[2013-12-13 14:41] mastoj opened #9 "Rolling appender"
It would be nice to have an auto cleanup of the logs in elasticsearch, which of course would be optional.

What I am thinking is that you provide a parameter which defines the lenght of a log and how many you should keep. Under the hood an index is created with the defined length and an alias is put on top of those indexes. Example:

Alias: LogEvent
Index1: LogEvent-20131305121212-20131212121212
I

[2014-06-21 20:07] #6 closed, assigned to jptoto

[2014-06-21 21:11] #9 closed, assigned to nobody

[2014-07-22 19:11] ewilansky opened #10 "error caused by dependency on NEST version 0.12.0.0"
I've upgraded my project to NEST 1.1.0-rc1 and, as a result, log4net throws an error when it attempts to locate Nest 0.12.0.0. With log4net debugging enabled, I see this error:
log4net:ERROR [ElasticSearchAppender] ErrorCode: GenericFailure. Failed in DoAppend
**System.IO.FileLoadException: Could not load file or assembly 'Nest, Version=0.12.0.0**, Culture=neutral, PublicKeyToken=null' or one of i

[2014-08-22 23:46] hovissimo opened #13 "Cannot log to ES instance on a different machine."
I can't get any log messages into ES with an MVC4 .NET4.5 application.

log4net config looks like this:

[code]

My test logger is generating messages, though, so it must be something with the ES configuration?
I'm running a packet capture and I don't see any traffic headed to my ES machine.

[2014-08-25 17:34] #13 closed, assigned to nobody

[2014-09-04 19:42] svantreeck opened #14 "update changed casing on property names"
The older version of the log4net.ElasticSearch camelCased properties, and it appears that they now end up PascalCase...not a huge issue, but if you were running with the previous version, kibana no longer likes to display the entries unless you update the spec you are using.  Would be nice to revert to camelCase.

It doesn't look like there is a good way of doing this with the .net JavascriptSeria

[2014-09-15 10:51] jc74 opened #15 "Performance"
Hi,

Apologies is this isn't the correct forum for this query.

We're currently looking to use the ELK stack - and deciding whether or not to use your project/library or the udp appender.

I notice you're creating an elasticsearch connection and LogClient for every LoggingEvent.  Is there a reason for this?  Could the client/connection be re-used?  Have you done any performance testing?

Joe

[2014-10-02 19:12] #15 closed, assigned to nobody

[2014-10-03 16:02] jptoto opened #18 "Make ES calls asynchronous"
If ES is unavailable or is responding slowly, this could lead to a blocking call to log4net.

[2014-11-03 00:48] #10 closed, assigned to nobody

[2014-11-03 19:04] #14 closed, assigned to nobody

[2014-11-03 19:05] #1 closed, assigned to jptoto

[2014-11-07 09:18] jc74 opened #26 "Nuget packages in the repo"
Hi,

This isn't an overwhelming concern, but have you thought about removing nuget packages from the repo - and use package restore during the build?  Typically, this is only ever a problem when you use corporate build servers behind a proxy which aren't allowed external access.

Joe

[2014-11-07 17:08] #26 closed, assigned to nobody

[2014-11-10 17:46] #18 closed, assigned to jptoto

[2014-11-28 16:17] jptoto opened #29 "Add a *Context override to specify ES server"
The %property{name} convention does not work for arbitrary properties, only in the conversionLayout node.

Add a detection so that if ElasticsearchServer is set in the GlobalContext, ThreadContext, or ThreadLocalContext, it will override the server in the connection string. Good for when we need to determine dev, staging, prod servers.

@jc74 interested to hear what you think of this?

[2014-11-28 21:06] #29 closed, assigned to nobody

[2014-12-23 07:21] cime opened #31 "Rolling appender does not create new index when under constant load"
I have rolling=true in my connection string, and everything works ok for the first day (when started).
The next day when it should create new index it does not. It's still writing into old index file (today we are 2014/12/23 but it writes into 2014/12/22).
I suspect that it doesn't create new index file because the application I'm logging from is non stop under load and writing into log.

[2015-01-02 13:55] turdus opened #33 "When I send messages to the Appender that has first been sent with a remotingAppender"
I get no Exception logged :(
When I debugged the code I found that the ExceptionObject is empty (but GetExceptionString) is not.

The documentation for ExceptionObject says:
"Gets the exception object used to initialize this event. Note that this event may not have a valid exception object. If the event is serialized the exception object will not be transferred. To get the text of the exception th

[2015-01-03 01:01] jc74 commented on #31
See pull request #35

[2015-01-03 01:12] jc74 commented on #33
Hi @turdus

What does GetExceptionString return?

[2015-01-03 09:04] jc74 opened #36 "Generalise approach for specifying index urls"
Currently the appender has a single property for specifying a ConnectionString which is then parsed into the index url [where log entries are posted]

However, it might be convenient to support a ConnectionStringName which refers to the ConnectionStrings element.

We could obviously just have another property but a more extensible approach would be to introduce a nested element to the xml config.

[2015-01-03 09:22] turdus commented on #33
Hi @jc74!

GetExceptionString returns "ToString()" of the Exception.
First the message then the stacktrace in a string.

[2015-01-03 09:32] jc74 commented on #33
Ah sorry, I completely misread the issue. I'd assumed there was an error in the appender (log4net reports it's own errors internally). Doh

I'll write a test and pass it by you (if that's ok with @jptoto)

[2015-01-05 08:38] turdus commented on #33
To clarify.

I call
Log.Error("Error", ex);

And I have a remotingAppender as the only appender.

Then I have a service hosting the remotingAppender and there I have a elasticsearchAppender
And I get no Exception logged in elasticsearch.

If I call
Log.Error("Error",ex);
and have the exact same elastchsearchAppender directly in the config I get the exception logged.

Don't know if I do anything wr

[2015-01-05 14:48] #31 closed

[2015-01-05 15:32] jptoto commented on #33
@turdus I haven't tested against this setup before but I'll get a configuration together and see if I can replicate the issue on my end.

[2015-01-23 13:43] TheSpy opened #37 "Elastic search throws mapping exception for messageObject property"
On logEvent request to elastic search messageObject is either string or object. Having that, elastic search throws mapping exception:

MapperParsingException[object mapping for [logEvent] tried to parse as object, but got EOF, has a concrete value been provided to it? status 400

I suppose messageObject should always be a specific object or should always be a string, otherwise elasticsearch is con

[2015-01-23 14:31] jptoto commented on #37
@TheSpy Interesting. This happens because we're letting ES auto-map the fields. I think I'm going to encourage users to setup index templates http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/indices-templates.html before actually starting their logging. This will enforce the field types, such as "object" for messageObject.

[2015-01-23 14:46] TheSpy commented on #37
yes, i used a script log-index-spec to create an index and I can see that messageObjec is of type object

![image](https://cloud.githubusercontent.com/assets/514031/5876361/48642ec2-a31f-11e4-8a8b-0c439c1664ea.png)

[2015-01-23 14:49] jptoto commented on #37
Ah, but it's being sent as a string. I'll have to put a check in for that.

[2015-01-27 10:44] TheSpy commented on #37
I think the solution could be to check if the messageObject is of type of string, and if so the messageObject should just be passed as null as it will be the same as message property anyways. What do you think?

messageObject = loggingEvent.MessageObject != null && loggingEvent.MessageObject.GetType() != typeof(string) ? loggingEvent.MessageObject : new object(),

[2015-01-27 14:08] TheSpy opened #39 "Log4net throws circular reference exception"
While trying to log an exception in log4net using debug mode

 try
{
   var z = decimal.Divide(10, 0);
}
catch (Exception ex)
{
   Log.Error(ex);
}

throws circular reference exception

![image](https://cloud.githubusercontent.com/assets/514031/5919649/7466041a-a63e-11e4-886b-0e95e7cb2f9b.png)

at ExtensionMethods.ToJson

![image](https://cloud.githubusercontent.com/assets/514031/5919656/8bf70e26-

[2015-01-27 14:27] TheSpy commented on #39
basically this could be at least a temporary solution

 public static string ToJson<T>(this T self)
        {
            return JsonConvert.SerializeObject(self, Formatting.Indented,
            new JsonSerializerSettings
            {
                ReferenceLoopHandling = ReferenceLoopHandling.Ignore
            });
        }

[2015-01-27 14:33] jptoto commented on #39
That's... interesting. Will take a look. Thx!

[2015-01-28 03:19] jptoto commented on #39
@TheSpy the problem with that solution is that I'm not using json.net so I can't pass in jsonserializersettings. I was able to duplicate this issue but I'm going to have to figure out a proper fix for it.

[2015-02-02 12:46] #37 closed

[2015-02-02 16:36] #39 closed

[2015-02-06 12:07] TheSpy opened #41 "If bufferSize not set, logging does not work"
If log4net setting <bufferSize value="val" /> not set, then messages are not logged to elastic search, so the config is not backwards compatible with the earlier version.
Maybe it would make sense to set bufferSize = 1 by default ?

[2015-02-07 02:43] jptoto commented on #41
Nice catch. Will fix this in a jiffy and update Nuget.

[2015-03-05 13:48] jptoto commented on #41
Traced this back to the config. By default, the BufferSize is set to 512 and I verified that in some debug traces. However, if Lossy is true it really needs an evaluator block or log4net can throw an error. I'm updating the tests and examples to explain this.
[code]

[2015-03-05 13:49] #41 closed

[2015-03-31 16:24] aateeque opened #42 "Port should be optional in the ConnectionString"
When using DNS to resolve an ElasticSearch instance, the port can be encoded in the host and thus not required.

**Example**
ElasticSearch running at http://elasticsearch.uk maps to http://192.168.1.12:9200 so ConnectionString = Server=http://elasticsearch.uk;Index=multifx-log;rolling=true

[2015-04-08 01:38] #42 closed

[2015-04-21 12:05] TheSpy opened #44 "Post multiple events to elasticsearch batch endpoint"
I guess it would make sense to post multiple events to elasticsearch batch endpoint in repository
https://github.com/jptoto/log4net.ElasticSearch/blob/master/src/log4net.ElasticSearch/Repository.cs#L25
instead of making requests for each logevent
http://www.elastic.co/guide/en/elasticsearch/reference/current/_batch_processing.html

or is there a reason not to do so?

[2015-04-22 18:11] jptoto commented on #44
@TheSpy No, you're right. I think that's the next step in the evolution of the appender. Great idea. I'll have to get in and fiddle with the buffer to make sure it works with lossy and non lossy configurations but I definitely think it's a good idea. Should have some time coming up to do it.

[2015-04-23 14:35] wpearson4 opened #45 "Adding Log4Net.ElasticSearh via Nuget"
Good Morning,

I have added the package to my project via nuget.  I am receiving the following error when trying to log the first time: Could not create Appender [ElasticSearchAppender] of type [log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch]. Reported error follows.
System.IO.FileNotFoundException: Could not load file or assembly 'log4net.ElasticSearch' or one of its dependenc

[2015-04-23 16:31] jptoto commented on #45
@wpearson4 Can you post your log4net configuration here? It would be your app.config or your separate log4net xml config file. Whichever you're using.

[2015-04-23 17:56] wpearson4 commented on #45
I have fixed the problem.  I need to change the reference to the following: <appender name="ElasticSearchAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch.Net40">.

One last question currently I send json serialized string as the message.  It appears though elasticsearch only recognizes it as a string.  Does log4net.elasticsearch support sending the message as json

[2015-04-24 12:55] jptoto commented on #45
@wpearson4 glad you got it working! That's what I was going to look for if you posted your config here.

For adding custom information to the message object, I would highly recommend using a custom exception class which is a very common practice. You can see an example of how to do that here: https://gist.github.com/jptoto/9be57ce2fe253eb96739

Then the ES docs will look like this and you can quer

[2015-04-24 12:55] #45 closed

[2015-06-04 07:26] vovikdrg opened #46 "The process was terminated due to an unhandled exception. log4net.ElasticSearch.WebElasticClient.FinishGetResponse"
Application: Crawler.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.Net.WebException
Stack:
   at System.Net.HttpWebRequest.EndGetResponse(System.IAsyncResult)
   at log4net.ElasticSearch.WebElasticClient.FinishGetResponse(System.IAsyncResult)
   at System.Net.LazyAsyncResult.Complete(IntPtr)
   at System.Net.ContextA

[2015-06-04 12:26] jptoto commented on #46
Is this all you have for this issue? Can you provide any more details? WebElastiClient isn't a class that's in log4net.Elasticsearch.

[2015-06-04 12:56] vovikdrg commented on #46
well it crashed when ES cluster go down. but I am not sure if you can fix something here. I did mistake when i catch expcetion, i try to log it again... so my app fails.

[2015-06-05 16:56] jptoto commented on #46
@vovikdrg This shouldn't happen when the ES cluster is down so I will work on it. I may change the ES call to be "fire and forget" because I don't think we care if the ES cluster responds. If it doesn't, it shouldn't affect the app trying to do the logging.

[2015-06-09 00:16] RobertReckon opened #47 "Elasticsearch Centos 7 box"
Log4net Appender works on localhost but when I try and use across the network on to Centos 7 Elasticsearch server nothing. And can't see way, its making me sad.

[2015-06-09 00:48] jptoto commented on #47
Well we definitely don't want sad users.

Can you try adding the following to your app.config (or web.config) and checking to see what the debug output is? There should be a clue in there.

[code]

[2015-06-19 18:21] sjdirect opened #48 "Any plan to support elastic search _bulk operations?"
I've been playing with the buffer and when it flushed it makes individual calls to elasticsearch. Do you have any plan on adding ability to use the Elasticsearch Bulk Api to package many messages into a sing "/_bulk" command?

[2015-06-19 18:23] sjdirect commented on #48
Looks like this project has an implementation that may be a good starting point...

https://github.com/urielha/log4stash/blob/master/src/log4net.ElasticSearch/ElasticSearchAppender.cs

[2015-06-19 19:38] jptoto commented on #48
@sjdirect I _do_ have plans to support that, yes. Just haven't quite gotten around to it yet. Will definitely get into it shortly.

[2015-06-19 20:23] sjdirect commented on #48
Thanks for the reply. Can we leave this issue open until you get around to implementing it? Thanks for building this project! I know it takes a lot of time an effort.

[2015-06-24 13:03] floekke opened #49 "log data retention"
Hi
Great little library. How would you recommend handling log data retention?

[2015-06-25 14:21] jptoto commented on #49
@floekke Thanks!

I typically use daily indices [(rolling=true in the appender config)](https://github.com/jptoto/log4net.ElasticSearch/blob/master/scripts/App.config.sample). That way a new log is created each day and if you like, you can create an [alias](https://www.elastic.co/guide/en/elasticsearch/reference/1.x/indices-aliases.html) that will give access to all the indices by sitting in front

[2015-06-25 14:21] #49 closed

[2015-06-26 12:18] floekke commented on #49
Absolutely. Thank you for the information.

[2015-07-07 18:02] #46 closed

[2015-07-07 18:02] jptoto commented on #44
This will be done in #48

[2015-07-07 18:02] #44 closed

[2015-07-07 18:03] #47 closed

[2015-09-15 14:31] issam-chouchane opened #50 "Dynamic index name on app.conf"
is it possible to have a dynamic index name in the app.conf, some thing like :
[code]
The idea is to use the same configuration for differents classes.

Thnx.

[2015-09-15 14:37] jptoto commented on #50
@issam-chouchane it's not real easy to do that in the config file and to support it in the log4net.Elasticsearch appender but you can dynamically alter or add appenders in code and on the fly like this example.

http://stackoverflow.com/questions/16336917/can-you-configure-log4net-in-code-instead-of-using-a-config-file

[2015-09-15 14:37] #50 closed

[2015-09-15 14:52] issam-chouchane commented on #50
thnx

[2015-10-14 07:17] maximpashuk opened #51 "Sign assembly log4net.ElasticSearch"
log4net.ElasticSearch, Version=2.2.0.0, Culture=neutral, PublicKeyToken=null

After signing PublicKeyToken should not be null.

All popular libraries are signed: Newtonsoft.json, NEST, etc.

[2015-10-14 13:00] jptoto commented on #51
Can you tell me more about your use case? I'm not really inclined to make a signed version. This is the first request I've had for it. It causes a lot of other issues.

[2015-10-17 23:20] #51 closed

[2015-10-29 12:55] gmoskovicz opened #52 "Doesn't work with Shield when SSL is not Enabled"
@jptoto

This library doesn't work with Shield using http with credentials.

We get a unauthorized exception because the HttpWebRequest doesn't contain the authorization header with the user information. In `log4net.ElasticSearch.HttpClient`:

[code]

If Shield is enabled in Elasticsearch, and we are sending the User Information, we should set the authorization headers anyway. We should remove `ur

[2015-10-29 13:41] gmoskovicz commented on #52
Steps to reproduce:

1. Install Elasticsearch
2. Install Shield plugin
3. Create a user using `esusers useradd user -p password`
4. Add connection string with username and password `<connectionString value="Scheme=http;User=user;Pwd=password;Server=<server-name>;Index=log;Port=9200;rolling=true"/>`

Note that SSL is not enabled, hence `http` scheme is configured.

[2015-10-29 13:49] gmoskovicz commented on #52
In NEST, we add the Authentication Headers regardless of http or https:

https://github.com/elastic/elasticsearch-net/blob/develop/src/Elasticsearch.Net/Connection/HttpConnection.cs#L185

[2015-10-30 15:31] jptoto commented on #52
@gmoskovicz Thanks for the link and the reproducible steps! I agree, it's probably a good idea to add the auth headers regardless. I'll get this baked in ASAP.

[2015-11-03 18:31] jptoto opened #53 "Field Naming / Mapping in Elasticsearch 2.0 (emailed by Martin Beck)"
Unfortunately, I have found a bug in log4net.ElasticSearch with ElasticSearch 2.0.

In ElasticSearch 2.0, it is no longer possible, to add fields with dot in the fieldname:

https://www.elastic.co/guide/en/elasticsearch/reference/2.0/_mapping_changes.html
![21210ae2b1c74e65a6ca7393a5f1bc46](https://cloud.githubusercontent.com/assets/5830/10917484/ff424c98-822e-11e5-9008-033c34f884f7.png)

The prob

[2015-12-10 08:21] ayasha88 opened #54 "log4net elasticsearch logging with custom parameters"
I am using log4net together with ElasticSearch and Kibana. By now my web.config looks like this:

[code]
I have some custom parameters like `location`, `label`, `mstimeload`, `applicationid`, `page`, `ipclient`, ... Everything works fine, but all of these parameters are of string type, instead I would like to have also `integer` or `geo_point` type, but I don't know how to tell `log4net` of which

[2015-12-10 13:57] jptoto commented on #54
@ayasha88 If the structure of the error document you send is the same for each message, I recommend using templates in Elasticsearch https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-templates.html The way this works is that you tell Elasticsearch one time how to create each index of a certain name. If your log names are called "log_yyyymmdd" then you can create a template th

[2015-12-10 14:00] ayasha88 commented on #54
But how can I then refer to these properties in c#? The same as now?

[2015-12-10 14:02] ayasha88 commented on #54
I have now the following index:

[code]

[2015-12-10 14:15] jptoto commented on #54
@ayasha88 Are you using [Nest](http://nest.azurewebsites.net/) In your C# code? That makes accessing the fields a lot easier in .NET.

Also I think the example template you're using is much too complicated. You can create one that specifies the fields directly based on the structure of your document. Here is an example template and I added a "location" field of type [geo_point](https://www.elastic

[2015-12-10 15:09] ayasha88 commented on #54
No I am not using Nest.. What is that?
I created a similar index to yours:
[code]

Because otherwise it puts all the fields inside the field properties instead I want to have each field separate. But in this way it doens't write any log.. Also I need the the string fields have a raw that is not_analyzed. But in this way nothing is logged..

[2015-12-11 02:19] #52 closed

[2015-12-11 02:31] jptoto commented on #54
@ayasha88 In this case, I _think_ the best thing to do would be to create a custom exception class based on the Exception or ApplicationException base classes. This way you can add in any and all properties you want and they will get passed in as the messageObject when you include that in your exception. If you're not using a strict template or index mapping in ES, it will allow you to take whatev

[2015-12-11 02:31] #54 closed

[2015-12-16 14:58] jptoto commented on #53
I'm not 100% sure if log4net.Elasticsearch should be in the business of modifying the field names. Fields should be modified at the source of the logging call so as not to have dots in them.

[2015-12-22 02:56] #53 closed

[2015-12-30 19:18] jptoto commented on #48
Finished this up and will cut a new release (2.3) shortly.

[2015-12-30 19:18] #48 closed

[2015-12-30 21:03] #36 closed

[2016-01-13 08:34] AaronLangley opened #55 "Bulk API not working with Logsene"
I'm sending logs to Logsene (https://sematext.com/logsene/) I don't know much about ElasticSearch which is why I'm using a provider like this.

Logsene creates a UUID index for each customer which I've substituted here for "123456789".

I've managed to get it to work where bufferSize = 1, but when greater it gets an exception.

The console log with log4net debugging enabled shows:

System.Net.WebE

[2016-01-13 13:56] jptoto commented on #55
@AaronLangley

I see from the Logsene docs they _do_ [support the _bulk API](https://sematext.atlassian.net/wiki/display/PUBLOGSENE/Index+Events+via+Elasticsearch+API) but the example they show uses "index" instead of "create" which is what I coded log4net.ElasticSearch to do. Technically both are ok according to the ES docs but Logsene may only support "index".

Since you've got your own fork, tr

[2016-01-13 14:45] jptoto commented on #55
@AaronLangley

Technically both `create` and `index` should work in this case in the _bulk API call. However, if Logsene didn't fully implement the Elasticsearch API, `create` may not work.

I did some research and really, I should be using `index

[2016-01-13 17:11] otisg commented on #55
Otis from Sematext Logsene here.  Thanks for the quick turn-around on this!

[2016-01-13 20:31] jptoto commented on #55
@otisg No problem!

[2016-01-14 03:17] AaronLangley commented on #55
Yes thanks for the quick response.
However it's still not working for me, the error has changed to: Failed to post {"index" : {} }

@otisg is there any other restrictions on the Logsene instance of ElasticSearch? https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-bulk.html - says it should be able to determine the index and type from the url.

[2016-01-14 03:18] jptoto commented on #55
Hmmm. I suppose some more information from the error would be helpful here. I didn't test the change against Logsene but I know the _bulk API call works against Elasticsearch. Is there a way to get more information about the error?

[2016-01-14 03:42] AaronLangley commented on #55
Hey jptoto, here's the error details:

[code]

And the appender config is

[code]

Note that when I change bufferSize to 1 it is working.

And code is:

[code]

[2016-01-14 08:16] gr0 commented on #55
Looking at the exception, it seems that there are two issues :)
First is that the data is sent to the following URL: https://logsene-receiver.sematext.com/1234567890/syslog/logEvent/_bulk
For In Elasticsearch API this means that:
* 1234567890 - is the index name which should be equal to Logsene token (and I assume it is)
* syslog - is the documents type
* logEvent - this would be the identifier, b

[2016-01-14 10:18] gr0 commented on #55
Just wanted to update on the issue - Logsene is now capable of accepting bulks that doesn't have index and type information in the index meta lines, but have that information in the request.

Please try indexing again and let us know :)

[2016-01-14 14:29] jptoto commented on #55
@gr0 Thanks for the update!

The "out-of-the-box" functionality for log4net.ElasticSearch is to send to
`/{index}/{type}/_bulk` which is one of the variations you mentioned.

I chose this path and the empty meta line because it suited the log4net.ElasticSearch code structure. It's valid but I'll check into offering alternative methods as options.

@AaronLangley does your fork change that in any wa

[2016-01-14 17:33] gr0 commented on #55
No problem, please tell if you run into any more issues.

[2016-01-14 17:35] #55 closed

[2016-01-14 21:58] AaronLangley commented on #55
Thanks @jptoto and @gr0 , this is a great help to an ElasticSearch novice!

My impression is Logsene is expecting a "syslog" type, perhaps because that's how I initially used it with the RemoteSyslogAppender. And it's more common anyway for use with other log shippers.  In my fork locally I've made the fixed type "LogEvent" part of the Uri changeable in the ConnectionString so I'll try that this m

[2016-01-15 08:18] AaronLangley commented on #55
Hi @gr0

It's mostly working now but 2 out of 20 or so keep failing.

When I run this:

[code]

And bufferSize is set to 5, I'm getting ```Failed to post {"index" : {} }``` but only for message #4 and #8 in this instance. The particular numbers varies but it's similar and happens everytime. Does timeStamp have to be unique with ElasticSearch? When I check Logsene all but these 2 were sent up.

[co

[2016-01-15 08:55] gr0 commented on #55
I have doubts if that is a timestamp issue, because Logsene uses field called _@timestamp_ for date and for sorting your events, not _timeStamp_. Anyway, this is not the cause and I have to dig into the issue, will let you know what I'll find.

[2016-01-15 10:58] gr0 commented on #55
I debugged a little and tried a different types of bulks, one of the examples I run is the following:

[code]

Unfortunately, all the events were properly indexed. Is there a way to see what log4net is sending and what is the response you get from logsene-receiver host?

[2016-01-15 15:45] jptoto commented on #55
@AaronLangley FYI if your threshold value is set to "ALL" in your appender config

      <evaluator type="log4net.Core.LevelEvaluator">
                <threshold value="ALL" />
        </evaluator>

The buffer will flush for each call. The threshold is a circuit breaker that will flush the appender in case a log with a certain level is hit. For example, if you set it to "ERROR", the buffer will a

[2016-01-15 15:50] gr0 commented on #55
Thanks @jptoto. @AaronLangley if you could install Fiddler and paste both the request and response that would be very, very helpful.

[2016-01-15 19:42] gr0 commented on #55
I'm not sure what the issue is, but I can replicate the same error being thrown when running a simple code. I'll open an issue with exact description of the thing I'm seeing, the code and the configuration used. Hopefully that will help :)

[2016-01-15 19:47] jptoto commented on #55
@gr0 Great, thanks.

[2016-01-15 19:57] gr0 opened #56 "Indexing logs to Elasticsearch succeeds, but error is thrown"
Hello, as a spin off from #55 I have one issue I'm seeing. I'm running the following example code:

File _source.cs_:
[code]
With the following configuration (file called _test.xml_):
[code]

Before starting the code I've started new Elasticsearch instance and checked if there are no indices:
[code]

Started the code and got the following result:
[code]

At the same time, I've got the data in Elas

[2016-01-15 20:02] jptoto commented on #56
Interesting. Thanks @gr0! I will be on holiday for the next week but will address this when I return ASAP.

[2016-01-15 20:09] gr0 commented on #56
Thanks a lot - if you need any information from me, just shout ;)

[2016-01-15 21:09] #56 closed

[2016-01-15 21:13] jptoto commented on #56
@gr0 Figured this out. For the _bulk request, the http response from Elasticsearch is different so even though the call succeeded, it was throwing an exception because I was only looking for a 201 instead of a 201 or 200. Nice catch and thanks for the help!

[2016-01-15 21:49] gr0 commented on #56
Glad i could help @jptoto :)

[2016-01-15 21:50] gr0 commented on #55
@AaronLangley I guess you should look at #56 and try indexing with the changes coming from it. Hopefully that will fix all issues when pushing your logs to Logsene.

[2016-01-16 01:30] AaronLangley commented on #55
@gr0 - Yes it was the 201 issue for me too!  I added the response code and body to the exception in my fork. (I'm using Xamarin Studio on OS X and haven't yet found a good Mac equivalent of Fidler. )

@jptoto - Thanks for the tip, I've changed the threshold to FATAL.

Thanks for the help

[2016-01-16 08:13] gr0 commented on #55
Great to hear that :)

[2016-01-21 14:48] MonDeveloper opened #57 "Documentation"
@jptoto I'm looking for documentation, there some place to find it?.
My first need (I think it's pretty common) is about the configuration part where even a quick & dirty guide for all the possibile parameters could be a great help for any guys like me and it shouldn't be a huge effort for you. (I hope)

[2016-01-21 15:21] jptoto commented on #57
Marco you're right on. I released some major updates and had plans to overhaul the docs before going on holiday and I didn't get them done. I hope to have them compete by the end of this coming weekend. Sorry for the radio silence.

--
JP Toto

[2016-01-30 03:27] jptoto commented on #57
@MonDeveloper Almost done, Marco. I've got at least as much as the old docs and I'll add the rest this weekend, more than likely. https://github.com/jptoto/log4net.ElasticSearch/wiki Thanks for the note.

[2016-01-30 03:27] #57 closed

[2016-01-30 19:01] jptoto opened #58 "MessageObject Not Populating"
The logEvent() class is not properly handling the MessageObject population. To duplicate, log a custom application exception - no data is recorded to ES.

[2016-01-31 03:07] jptoto commented on #58
Not an issue. We should be using Exception.Data for custom properties.

[2016-01-31 03:07] #58 closed

[2016-02-02 17:31] Pragmateek opened #59 "ConversionPattern not enforced"
Hello,

first thanks for your contribution which is really useful to us. :-)

All is running fine except that the **`ConversionPattern`** is not applied to messages.
In **ElasticSearch** we have the raw messages specified in `logger.Debug` without any decoration.

I've tried with a minimal configuration :

	<appender name="ElasticSearch" type="log4net.ElasticSearch.ElasticSearchAppender, log4net.E

[2016-02-02 17:50] jptoto commented on #59
@Pragmateek Thanks for the report! I'll check into this ASAP and see if I've got it implemented correctly.

[2016-02-02 17:55] Pragmateek commented on #59
@jptoto Thanks for the quick feedback!
I'm probably missing something and doing stupid things. :)

[2016-02-02 18:02] jptoto commented on #59
@Pragmateek What field in the Elasticsearch document are you looking for the event information? Now that you've added this note, it's made me realize that the ConversionPattern may be completely irrelevant to logging in Elasticsearch since all the fields are logged in the ES document anyway. Since all the fields are there, there isn't really any work to be done by choosing a pattern as if it were

[2016-02-02 18:18] Pragmateek commented on #59
@jptoto This is the **`message`** field.
I had the same reflexion before posting but I though it could be applied anyway as it may ease future searches: you only have to look to the **`message`** field without crafting queries that span multiple fields, and you could more easily compare with information extracted from files and console output.
But if this is by-design I'm completely OK with it and

[2016-02-03 08:22] Pragmateek commented on #59
@jptoto Moreover one of my colleagues reminds me of another use-case where we can't do without the **`ConversionPattern`**: in order to identify which application is logging it is possible to add a tag like `[MyApplication]` to the **`ConversionPattern`** so that every message will be decorated accordingly.
Or if your appender supports addition of a dedicated field, say "appName", to the ElasticSe

[2016-02-03 13:17] jptoto commented on #59
@Pragmateek The application is available in the "domain" field of the ES document. That is the appdomain. I'm _pretty_ sure I've covered all the possible fields that are available from log4net so they are easily readable from the index. Really, that would remove the need to using a ConversionPattern because, unlike in text or DB log file where fields may be limited, in log4net.ElasticSearch, I sim

[2016-02-03 14:15] Pragmateek commented on #59
@jptoto Thanks for these information.
So finally we've decided to let the message unformatted and play with the **`domain`** field if necessary.
Thanks again for your help and keep up the good job! :-)

[2016-02-03 14:15] #59 closed

[2016-02-03 14:17] jptoto commented on #59
No problem! @Pragmateek I take the feedback seriously so please let me know if you have any other concerns or issues.

I'm going to update the documentation accordingly to mention that ConversionPattern isn't needed.

[2016-02-22 21:40] #33 closed

[2016-02-25 14:43] macosta60 opened #60 "Issue with SQLException"
Hi,

With the last version of elasticsearch (2.*) all sql exception are not logged.

I search a little and when i clear all "Exception.Data" the exception is logged.

here a sample of data serialized with newtonsoft :
{
"HelpLink.ProdName":"Microsoft SQL Server",
"HelpLink.ProdVer":"09.00.5000",
"HelpLink.EvtSrc":"MSSQLServer",
"HelpLink.EvtID":"2812",
"HelpLink.BaseHelpUrl":"http://go.microsoft.c

[2016-02-25 16:51] jptoto commented on #60
@macosta60 I'm guessing this is a serialization issue. Can you try using one of these two debugging techniques https://github.com/jptoto/log4net.ElasticSearch/wiki/04-Debugging-log4net.ElasticSearch and tell me if it shows an error and what the error is?

[2016-02-26 08:48] macosta60 commented on #60
here the result log after run TechnicalLogger.Error(ex.Message,ex);

log4net: log4net assembly [log4net, Version=1.2.15.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a]. Loaded from [C:\Windows\Microsoft.NET\Framework64\v4.0.30319\Temporary ASP.NET Files\e.boby.web.extranet\fa6d78ae\ed5fc807\assembly\dl3\8b6f2fb6\563212ef_8969d101\log4net.dll]. (.NET Runtime [4.0.30319.42000] on Microsoft Wind

[2016-05-07 20:23] mynkow opened #62 "log4net.ElasticSearch Viewer"
What do you use to see the log messages?

Are you building custom UI every time for every project?

[2016-05-08 23:58] jptoto commented on #62
@mynkow I almost always use [Kibana](https://www.elastic.co/products/kibana). It's free and is built for Elasticsearch. There are a lot of alternatives out there that will provide dashboards and use Elasticsearch as a source. I don't think I've ever built a custom UI just for logs.

[2016-05-08 23:58] #62 closed

[2016-05-10 19:44] mynkow opened #63 "Rolling option"
Is there an option to specify the number of indecies like you can do with RollingFileAppender?

[2016-05-10 20:00] jptoto commented on #63
@mynkow Yes, you can set rolling=true in the connectionString as shown here https://github.com/jptoto/log4net.ElasticSearch/wiki/02-Appender-Settings That will create a new index each day automatically.

[2016-05-10 20:00] #63 closed

[2016-05-10 20:12] mynkow commented on #63
I was actually asking about the max number of days which are kept as elastic search index. For example, if I set the maximum number of of the rolling option to `10` it will keep only the last 10 days and everything else will be deleted.

[2016-05-10 20:20] jptoto commented on #63
Ah I see. No, neither Elasticsearch no log4net.Elasticsearch maintain the max number of indices. They will continue being created each day. You can use a tool like Curator https://www.elastic.co/guide/en/elasticsearch/client/curator/current/index.html to maintain the index count and remove any indexes that are a certain age.

[2016-05-11 18:49] jptoto commented on #62
@mynkow Grafana http://grafana.org/ is quite a nice option too. I'm going to explore that soon.

[2016-05-12 18:12] urielha commented on #63
Also I have heard that there is a ttl option that you can add to each message you index. It worked for me but I don't know how efficient is it

[2016-05-12 18:16] jptoto commented on #63
There _is_ a ttl option but it's deprecated. The [guidance from the Elasticsearch team](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-ttl-field.html) is to use rolling indices and then delete old ones.

[2016-05-13 07:38] mynkow commented on #63
I found this => https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-ttl-field.html

[code]

Didn't have time to research more.

[2016-05-13 13:09] jptoto commented on #63
@mynkow That's the same page I linked to in the previous comment :smile: Since their guidance is to use rolling indices and the convention is to remove old indices with a tool such as Curator, I don't think it would make sense to add any kind of index expiration or deletion to the appender itself.

[2016-05-14 06:41] mynkow commented on #63
OMG. It is the same. I didn't realize that. Funny. Sorry for bothering you...

[2016-05-15 17:06] jptoto commented on #63
@mynkow 😄

[2016-05-16 16:13] dorinoltean commented on #60
The problem is that elastic search does not accept fields  that contain '.'

The following line is the exception message from elasticsearch logs.

[2016-05-16 16:21] jptoto commented on #60
@dorinoltean nice catch, this is correct. @macosta60 I may be able to parse the field data going in and replace any "." with a legal character.

[2016-05-24 09:26] mcinnes01 opened #64 "Can't read host entries"
If you add a host entry for your elasticsearch server it fails to connect with elasticsearch when running in a console app. When running as a web application under IIS it can read your host entries and will connect to elasticsearch as expected.

The work around I found is to use the ip of your elasticsearch server.

[2016-05-27 03:32] xiaotupansy opened #65 "log info content is missing"
Hi,

I found an issue that I can't find log info content in es.

Here's the log code:
[code]

And here's record in es,you can find that the message is null!

{

    "_index": "testlog",
    "_type": "logEvent",
    "_id": "AVSj2CU-lQLA0uGOM-km",
    "_version": 1,
    "_score": 1,
    "_source": {
        "timeStamp": "2016-05-12T07:22:12.1540257Z",
        "message": null,
        "messageObject"

[2016-05-27 12:07] rdehuyss opened #66 "LogicalThreadContext.Properties int and long are indexed and analyzed as string"
We are adding the following info to the LogEvent using the LogicalThreadContext.Properties

- LogicalThreadContext.Properties["Url"] = requestUri;
- LogicalThreadContext.Properties["TimespanInMillis"] = elapsedMilliseconds; // => long
- LogicalThreadContext.Properties["StatusCode"] = statusCode; // => int

Yet, in Elastic this is all indexed as string. Is there a way to control it so that we can c

[2016-05-27 14:04] jptoto commented on #65
@xiaotupansy I agree the message should also be included in the `_source.message` field even if the message is rendered as an `Exception()` object. I'll work on this.

[2016-05-27 14:50] jptoto commented on #65
@xiaotupansy I've tried this on both a console project and asp.net MVC and can't seem to duplicate the results. The `RenderedMessage` should be appearing in the `_source.message` field for you. Can you tell me which version of log4net, MVC, and Elasticsearch your're using?

[2016-05-27 14:58] jptoto commented on #64
@mcinnes01 When you run the tests, is it a local test on your desktop? For modern Windows OSes, I'm finding that using the machine name resolves the ipv6 IP and it's failing. For example, when I use

`Server=jtoto01;Index=log;Port=9200;rolling=true`

Which is my local desktop, it fails. If I use "localhost" instead of "jtoto01" it seems to work ok and resolves to the correct ipv6 IP that Elasticse

[2016-05-27 14:58] #64 closed

[2016-05-27 15:02] jptoto commented on #66
@rdehuyss I _think_ your best bet here is to use [Elasticsearch Templates](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-templates.html) in order to tell Elasticsearch how to choose a type for that field. If you install a template, each time a log index is created (as long as you use the same naming convention) it will force the type to be `int` or `long` appropriately fo

[2016-05-27 15:02] #66 closed

[2016-05-30 02:09] xiaotupansy commented on #65
@jptoto Here's the config for mvc project:

<package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="log4net.ElasticSearch" version="2.3.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net45" />

And the version of Elasticsearch is 2.3.2.

[2016-06-01 13:52] arunkumar987 opened #67 "WCF and log4net.elasticsearch"
Is it possible to use log4net.elasticsearch in WCF Service application? I was not able to log messages when using it on WCF Service application. But when I moved logging to WCF Host application(self hosted console) I was able to log messages. Why is that?

[2016-06-01 13:56] jptoto commented on #67
@arunkumar987 I'm not exactly sure why the logger wouldn't work with a WCF service except that maybe there is a threading issue with the WCF service. If it's an `async` class, it may be terminating before the logger can log, depending on your code. You may need to `await` the log call itself but I'm just guessing. There is otherwise nothing special going on that would cause log4net.Elasticsearch t

[2016-06-01 13:56] #67 closed

[2016-06-03 10:22] xiaotupansy commented on #65
And here's the configuration:

<log4net>
    <appender name="ElasticSearchAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch">
      <connectionString value="Server=localhost;Index=testlog;Port=9200;"/>
      <Fix value="0"/>
      <bufferSize value="3" />
    </appender>
    <appender name="textLogger" type="log4net.Appender.RollingFileAppender">
      <file value=

[2016-06-15 20:50] michal-duda opened #68 "Change signature of IHttpClient.PostBulk method"
Hi,

I am thinking why PostBulk method is generic. T items parameter is casted to IEnumerable<logEvent> anyway. Wouldn't be better to change parameter type to IEnumerable<logEvent>?

Michal

[2016-06-15 20:57] michal-duda opened #69 "Decompose HttpClient and serialization method"
Hi,

I have built new appender with custom logic based on your ElasticsearchAppender. I was easy to inherit and reuse most of the code including repository but I was not able to easily reuse HttpClient. The reason is that there is ToJson method used and it can't be easily replaced by some other implementation.

I think it would be better if HttpClient has dependency to some IJsonSerializer or some

[2016-06-16 14:37] jptoto commented on #68
@michal-duda This is a good point. That code doesn't make much sense. I will modify accordingly.

[2016-06-16 14:38] jptoto commented on #69
@michal-duda It wasn't originally developed to be inherited which is why the coupling is pretty tight on that one. I think it's great if that code helped you but I'm not sure I see the need to decouple it for the sake of _this_ particular code. If there is a reason to modify the json appender or enable multple deseralizers in the future I will look into doing this.

[2016-06-16 16:40] michal-duda commented on #69
@jptoto I understand that it was meant to be used like that. Anyway I think would be nice to have way how to use let say JSON.net instead of default serializer.

[2016-06-17 19:24] jptoto commented on #69
@michal-duda I'll take a look at doing this tonight. If it seems practical, I can add it in. I'm intentionally using the custom serializer to keep the library from having any dependencies other than log4net.

[2016-06-20 14:49] vishalpatel-te opened #71 "Performance issue when server is not available"
When server specified in elastic appender connection string, run it to severe performance issues. Any suggestion on how to improve that.

[2016-06-20 17:22] jptoto commented on #71
@vishalpatel-te unfortunately there isn't a good way to improve this process since the log4net call is blocking. It's a hazard of using an external source as the target for logging.

One other thing you could try is to use [Filebeat](https://www.elastic.co/products/beats/filebeat) instead of log4net.Elasticsearch. You can log to local files and configure Filebeat to send the logs to Elasticsearch.

[2016-06-20 17:22] #71 closed

[2016-08-03 12:05] danielcondemarin opened #72 "Timeout crashing application, shouldn't it just write to log4net InternalDebug?"
System.InvalidOperationException: An unhandled exception was detected ---> System.Net.WebException: The operation has timed out
   at System.Net.HttpWebRequest.EndGetResponse(IAsyncResult asyncResult)
   at log4net.ElasticSearch.WebElasticClient.FinishGetResponse(IAsyncResult result) in c:\source\log4stash\src\log4net.ElasticSearch\ElasticClient.cs:line 110
   at System.Net.LazyAsyncResult.Complet

[2016-08-03 18:28] jptoto opened #73 "Port to new frameworks"
https://docs.microsoft.com/en-us/dotnet/articles/core/porting/project-structure

[2016-08-03 18:34] jptoto commented on #72
@danielcondemarin does this happen during normal operation or are you trying to debug via https://github.com/jptoto/log4net.ElasticSearch/wiki/04-Debugging-log4net.ElasticSearch ?

[2016-08-03 18:43] jptoto commented on #72
@danielcondemarin also for what it's worth, log4net calls are blocking so if your Elasticsearch server isn't available, you could see significant performance issues. I may consider adding a timeout in milliseconds to the connection string but you should be careful in production applications.

[2016-08-04 08:14] danielcondemarin commented on #72
@jptoto this is happening during normal operation, using log4stash@1.1.1.
Completely agree with the timeout performance issue, ideally this would be non-blocking.

[2016-08-04 08:20] danielcondemarin commented on #72
@jptoto I believe this was fixed https://github.com/urielha/log4stash/commit/823da97e622eab90055464c440d1357ee0382c94
but I didnt get that fix since I'm on 1.1.1 :)

[2016-08-04 16:06] jptoto commented on #72
@danielcondemarin since you're not using log4net.Elasticsearch can I close this?

[2016-08-04 16:06] #72 closed

[2016-08-16 19:46] #69 closed

[2016-09-22 15:59] zaytsevvla commented on #60
what about this issue?
And IDictionary is a <object, object>, i think it is unsafe to use it.
Maybe you want `Data = ex.Data.Keys.Cast<object>().ToDictionary(x => x.ToString().Replace('.', '_'), x => ex.Data[x].ToString());` in JsonSerializableException?

[2016-09-22 17:04] zaytsevvla commented on #60
And the same problem exists if key with dot exists in messageObject
[code]
maybe we need some drawback?

[2016-09-22 17:08] jptoto commented on #60
The problem is that Elasticsearch can't index messages with the dot . and I'm trying to decide how much I should be trying to scrub that data before it reaches ES or if I should let it fail because it's a function of ES.

[2016-09-22 17:19] zaytsevvla commented on #60
I understand the source of problem.
My solution is: for logger properties and exception data replace dots with underscore.
For message object: if we can't serialyze it or if we receive 500 HTTP code, then set `messageObject = new object()` and try again.

[2016-09-22 17:20] zaytsevvla commented on #60
So i made PR with first half and work on second.

[2016-09-22 17:43] zaytsevvla commented on #60
I see the problem with other half: serialization is in elasticsearch client and it send it in chunks.
So it increase the problem: one bad message can drop full chunk!

[2016-09-22 17:49] zaytsevvla commented on #60
So maybe you merge my PR and update package now?
And problem with `messageObject` we will solve another day?

[2016-09-28 22:45] tombby11 opened #76 "Support for elastic cloud"
Hello there , I am wondering if this project supports sending logs to elastic cloud server.
If yes , how would you do that ? and what configrations i need for the cloud and for the .config file ?

[2016-09-29 15:17] jptoto commented on #76
@tombby11 thanks a bunch for the note! I haven't actually tested this but now I'm curious. I'll spin up a free trial and see what, if anything, I need to modify to support Elastic Cloud.

[2016-10-29 17:02] rajrao opened #78 "LogStash"
I am new to ELK. I was wondering why you didnt use logStash (write a logStash log4net appender) and instead wrote an appender directly into ElasticSearch?

[2016-10-29 18:11] jptoto commented on #78
@rajrao the idea when I started this project was to write _all_ the log4net data directly to Elasticsearch and then a user could format it from there. The downside is that you don't get to use Logstash filters before the data arrives to Elasticsearch. However, in today's Elasticsearch landscape you can do more filtering directly at Elasticsearch similar to logstash using [ingest nodes](https://www

[2016-10-29 18:11] #78 closed

[2016-11-02 22:05] betimer opened #79 "Failed to log to logstash"
Failed to log to remote logstash, erro log is below:

log4net:ERROR [ElasticSearchAppender] ErrorCode: GenericFailure. ElasticSearchAppender [ElasticSearchAppender]: Failed to send all queued events in OnClose.
log4net: No appenders could be found for logger [VCC] repository [log4net-default-repository]
log4net: Please initialize the log4net system properly.
log4net:     Current AppDomain context

[2016-11-03 03:37] betimer opened #80 "Proxy setting support"
is is possible to add proxy setting support into this appender?

e.g. <connectionString value="Server=127.0.0.1;Index=log_test;Port=9200;rolling=false;proxy=10.0.0.20:3330"/>

[2016-11-03 12:46] jptoto commented on #79
@betimer log4net.Elasticsearch is only designed to ship logs directly to Elasticsearch so trying to forward through Logstash won't work. If you'd like some sort of Logstash filtering functionality I recommend trying  an [ingest node](https://www.elastic.co/guide/en/elasticsearch/reference/master/ingest.html) configuration using Elasticsearch 5.x.

[2016-11-03 12:46] #79 closed

[2016-11-03 12:46] jptoto commented on #80
@betimer This is a potentially good idea. I will investigate it.

[2016-11-07 12:45] lukas-lansky opened #81 "Add a circuit-breaking behavior"
We fight issues with transient failures of our ES setup. Unfortunately, when our ES node is not working properly, log4net ES appender slows down the application radically although logging is definitely not a concern important enough for this slowdown to occur. It would be very useful if the appender could be configured in a [circuit breaking](http://martinfowler.com/bliki/CircuitBreaker.html) fash

[2016-11-07 14:13] jptoto commented on #81
@lukas-lansky Unfortunately the blocker is with the log4net lib. All calls to log4net are blocking and are not run on a background thread. I'll check again to see if there is something I can do about this from the appender side of things but it may be a tough problem to solve. Because of this exact scenario [I don't recommend using log4net.Elasticsearch in production](https://github.com/jptoto/log

[2016-11-07 14:28] lukas-lansky opened #82 "Memory leak when ES is not accesible"
With a following code:

	using log4net;
	using log4net.Config;
	using System;
	using System.IO;

	namespace EsLog4NetExperiment
	{
	    class Program
	    {
	        private static ILog log = LogManager.GetLogger(typeof(Program));

	        static void Main(string[] args)
	        {
	            XmlConfigurator.Configure(new FileInfo("log4netconfig.xml"));

	            while (true)
	            {

[2016-11-07 14:55] lukas-lansky commented on #81
Thanks for the answer. I'll see if I found time to look into this for myself. I understand that those problems are tricky, but it also seems to me that solutions to such kinds of problems are reasons why programmers choose to use logging frameworks. Circuit breaker seems like a fitting pattern to reduce amount of blocking caused by malfunctioning counterparty to more reasonable levels, there may b

[2016-11-11 09:48] Giganticus commented on #81
What about using https://github.com/cjbhaines/Log4Net.Async ?

[2016-11-11 14:26] jptoto commented on #81
Wow this is interesting, I didn't know about this lib. I'm climbing out from some other priorities but I will be able to check this out shortly. Thanks for the link!

[2016-11-12 13:04] michal-duda commented on #82
I am also looking into this issue and as it is visible from Lukas's screenshot problem is that lib is registering non limited number callbacks for QueueUserWorkItem in appender.

    protected virtual bool TryAsyncSend(IEnumerable<LoggingEvent> events)
    {
            return ThreadPool.QueueUserWorkItem(SendBufferCallback, logEvent.CreateMany(events));
     }

Most straight forward solution is t

[2016-12-06 15:19] iano123 opened #83 "@timestamp vs timestamp"
Hi jptoto,

We are having an issue. Elasticsearch/logstash is alwayse saving the documents with a timestamp field name: "@timestamp". This project does the same but ompits the @ sign naming it "timestamp".

This makes it difficult to combine results from 2 indexes. Is there a way to change your logger so that it will also save "@timestamp"?

Many Thanks.
Jan

[2016-12-06 15:26] jptoto commented on #83
@iano123 there is also a @timestamp field in the properties array which you can see an example of here http://jptoto.github.io/log4net.ElasticSearch/ in the sample doc. That should always be there for each event.

I wish I had originally named the timestamp field "@timestamp" so I will look to make that easier to find in the future. Let me know if that doesn't solve your issue.

[2016-12-06 15:29] iano123 commented on #83
Hi JP,

The problem is that this is in the properties field. This means we would need to use properties.@timestamp in the index definition in kibana.

What we want to achieve is the folowing:

index:
-------
system.iis.date
system.eventlogs.date
system.log4net.date

and we want to put all these in kibana as:
system.*

This way we aggregate them. But this only works if the field is called "@timesta

[2016-12-06 15:43] jptoto commented on #83
@iano123 I'll see if I can add an option to place @timestamp at the root and if that makes sense. I'm trying to finish up a new Pluralsight course at the moment which is taking all of my free time but I'll check into this ASAP.

[2016-12-06 15:45] iano123 commented on #83
Many Thanks JP. I think I will probably not by the only person with this use case.

[2016-12-06 15:58] jptoto commented on #83
@iano123 you're the first person who's asked for it :)

[2017-01-05 03:13] jptoto commented on #83
Will check to see if Kibana can find the @timestamp field in the properties section. If it can, I don't think I will add @timestamp to the root or make an option for it as it seems to be redundant. I haven't had any other requests for this.

[2017-01-05 12:51] iano123 commented on #83
Hi JP<

yes it can see it, but it is not the same field. it is a property of  something else.

The comes wher you want it in one search index: EG:

Systemname.winlog
Systemname.log4net
Systemname.topbeat

and open the indes in kibana as Systemname.*

This does not work as it will not know which field to use for the time related data.

Will addign an optional property to rename @timestamp be a brea

[2017-01-27 16:40] SiOuz opened #84 "log4net.ElasticSearch dont send data when this.Dispatcher.UnhandledException is use"
I use this code in the app.xaml.cs to catch all exception :

`this.Dispatcher.UnhandledException += OnDispatcherUnhandledException;`

` void OnDispatcherUnhandledException(object sender, System.Windows.Threading.DispatcherUnhandledExceptionEventArgs e)
        {
            string errorMessage = string.Format("An unhandled exception occurred: {0}", e.Exception.Message);
            //e.Exception.D

[2017-01-27 17:55] jptoto commented on #84
@SiOuz I'm afraid I'm not very good with the Windows forms/xaml threading model so I can't see what might be going on here. But I do suggestion using the [debugging feature for log4het](https://github.com/jptoto/log4net.ElasticSearch/wiki/04-Debugging-log4net.ElasticSearch) to see what's happening in the appender. If you log to a file you can see if it's being called and if it's running into an er

[2017-01-27 17:55] #84 closed

[2017-04-07 08:43] nickofranco opened #85 "Remove unnecessary properties"
Hi JP,

Is it possible to remove unncessary properties on log4net logs? (i.e. fileName)

[2017-04-10 16:31] jptoto commented on #85
Hey @nickofranco not sure what you mean by "unnecessary properties"? I don't currently have plans to make the fields configurable.

[2017-04-14 16:48] beckma opened #86 "ElasticSearch 5.3 - log4net.ElasticSearch produces an entry in the Logfile elasticsearch_deprecation.log"
With ElasticSearch 5.3 log4net.ElasticSearch produces this entries in the Logfile **elasticsearch_deprecation.log**

[2017-04-14T17:40:48,615][WARN ][o.e.d.r.RestController   ] Content type detection for rest requests is deprecated. Specify the content type using the [Content-Type] header.

![image](https://cloud.githubusercontent.com/assets/6991499/25049405/f79b4fa4-2141-11e7-8adc-c10f00cde720.pn

[2017-04-14 17:36] jptoto commented on #86
Good catch! Will check this out ASAP.

[2017-04-14 19:47] jptoto commented on #86
Closed via https://github.com/jptoto/log4net.ElasticSearch/commit/971c1a9280145205546b77f2a1d3cff3e65926d0

[2017-04-14 19:47] #86 closed

[2017-04-14 19:58] #85 closed

[2017-05-03 15:29] johnqa commented on #83
Hi jptoto,

Do you have any updates on this issue? I am also facing problems because of this timestamp notation.

Thanks!

[2017-06-01 01:48] ShuntaoChen opened #87 "Logging elastic search queries?"
Is this all about logging about the queries, I also want to integrate this with my own website, do you have a very brief instruction?

[2017-06-01 01:51] jptoto commented on #87
This tool will allow you to get data into Elasticsearch directly but does not help with queries. I suggest a site like http://joelabrahamsson.com/elasticsearch-101/ for getting started with writing queries.

[2017-06-01 01:51] #87 closed

[2017-06-19 16:06] Oleg26Dev opened #88 "Is this replacement for log4net?"
or ES appender only?

I use log4net in my WCF service.
Should I replace it with the log4net.ElasticSearch or  just to add the log4net.ElasticSearchto to have possibilitz to publish logs to ES?

[2017-06-19 16:17] jptoto commented on #88
@Oleg26Dev it's just an appender for log4net and requires log4net to work. If you install it from Nuget it will install log4net as a dependency if you don't already have it.

[2017-06-19 16:17] #88 closed

[2017-06-20 07:08] Oleg26Dev commented on #88
great! thank you!

[2017-07-10 14:28] martinto opened #89 "Numeric custom properties"
I am trying to log a custom property as a long integer. The code to add it looks like this:

[code]

This has been added to the mappings:

[code]
The data is ending up in elasticsearch as a string. I am using elasticsearch 5.2.0 and this module at version 2.3.3 from NuGet.

I am fairly sure that this used to work. How can I fix this?

[2017-07-10 15:55] jptoto commented on #89
@martinto When adding data to Elasticsearch in a new index with no schema, it does its best job to "guess" the data type of each field. In this case, unfortunately, it's guessing that your long integer is a string. This isn't controlled by log4net.Elasticsearch. The best thing to do is add a [template](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-templates.html) to your

[2017-07-10 16:12] martinto commented on #89
I have added a template as I showed above, but the field is still being treated as a string.

[2017-07-18 16:29] martinto commented on #89
I have got it working now. I _think_ that I was loading the template too late.

[2017-07-18 16:29] #89 closed

[2017-07-18 16:48] jamestoto commented on #89
Ahhh ok that'll do it. If you load the template with a naming convention that your indexes use it will be used for all your indexes.

[2017-07-20 18:39] jptoto opened #90 ".NET Core / netstandard support"
https://logging.apache.org/log4net/release/framework-support.html

[2017-09-22 06:39] shyamhd opened #91 "remote server returned an error: (406) Not Acceptable"
Hi,

I have pull your sample project https://github.com/jptoto/log4net.ES.Example and to debug project I have added `log4net.Util.LogLog.InternalDebugging = true;` while running your project I am getting
`remote server returned an error: (406) Not Acceptable` error as per below.
[code]
Can you please check this.
Regards,
Shyam

[2017-09-26 06:14] shyamhd commented on #91
Issue solved after lots of RND. The solution is that health of elasticsearch was yellow and I converted to green using postman please find below image.

![image](https://user-images.githubusercontent.com/7995684/30845205-f7e52684-a2af-11e7-8cf0-2c9a216c80e7.png)

[2017-10-11 07:31] niren777 commented on #76
I have been trying to get this project with Elastic Cloud server, but couldn't get it working. Logs are not pushing to Elastic cloud server(kibana)

[2017-10-18 02:48] jptoto commented on #91
@shyamhd Sorry for not replying earlier. I cloned my sample project and ran it from VS but I am not having any issues. It works ok. I'm only testing it on my laptop and I use `network.host: 127.0.0.1` in the Elasticsearch config (version 5.6.3) but it's working fine from what I can see.

Have you modified the sample project at all? Perhaps you're attempting to send a message the server doesn't und

[2017-10-18 02:48] #91 closed

[2017-10-18 11:07] shyamhd commented on #91
@jptoto thank you for reply.
I have cloned project once again and it is working fine.
I need some help. I am not able to track data from log4net.ES.Example project to kibana.
I have selected `log*` as index pattern. However, not able to track data. I have googled as well.
Can you please help me?

Thanks in advance.

[2017-10-18 15:47] jamestoto commented on #91
@shyamhd I may need some more information here. No data is showing in Kibana? Is Kibana correctly connected to Elasticsearch? Does any information show at all in Kibana? If you can verify that data is in Elasticsearch using a tool like http://www.elastichq.org/ then I'd say your problem is in the Kibana config. Make sure the time horizing you're using will encompass the data timestamps you're tryi

[2017-10-18 15:49] jptoto commented on #91
@shyamhd I may need some more information here. No data is showing in Kibana? Is Kibana correctly connected to Elasticsearch? Does any information show at all in Kibana? If you can verify that data is in Elasticsearch using a tool like http://www.elastichq.org/ then I'd say your problem is in the Kibana config. Make sure the time horizing you're using will encompass the data timestamps you're tryi

[2017-10-20 20:10] HarveyEV commented on #76
i suspect it has to do with the protocol on cloud which is over SLL. Anyone have any luck with this?

[2017-10-20 20:13] jptoto commented on #76
This _should_ work by setting the scheme to use https like in the example here https://github.com/jptoto/log4net.ElasticSearch/wiki/03-Example-Configurations @niren777 @HarveyEV does that work for you?

[2017-10-20 20:35] HarveyEV commented on #76
Thanks. Will give it a shot.

[2017-10-24 09:21] MonsieurMix opened #93 "Add Custom Fields"
Hello,

I make a POC on ELK and try log4net.ElasticSearch. because I have been using log4net for years and we use it in all .Net Project in my company.

We share ELK with PHP Frontend team and want to normalise ELK between 2 teams.
We decide to put a mandatory special field named "Component".

Btw, I try to add it with log4net.ElasticSearch but I can't... In documentation I read "06 Adding Custom

[2017-10-24 17:30] jptoto commented on #93
@MonsieurMix there isn't a way to add a "Component" field at the root, that is what the exception.data field is for. In this way, it keeps the log4net event as pure as possible as it was designed. And then when you want to add custom data, you can use the parts of the event that are dedicated to that. This guarantees each log4net event looks as it was intended.

[2017-10-24 17:30] #93 closed

[2017-11-02 08:28] beckma opened #94 "Referenced Assembly: update to log4net 2.0.8"
Is it possible to update the referenced log4net-Assembly to log4net, **Version=2.0.8** ?

Current: log4net, Version=1.2.15.0

![image](https://user-images.githubusercontent.com/6991499/32316236-b6060df6-bfaf-11e7-9757-796a5e2dc2f3.png)

![image](https://user-images.githubusercontent.com/6991499/32316270-cda60b5a-bfaf-11e7-9695-f594dbfcd93c.png)

Thanks.

Best regards
Martin

[2017-11-02 15:34] jptoto commented on #94
@beckma The last time I tried this it was a problem because log4net changed their strong signed key but I'll take another look. I'd like it to run the latest version of log4net.

[2017-11-29 00:33] JamesBridgeford commented on #90
Does this mean that log4net.ElasticSearch supports .net Core?  I have a need to use it in an Amazon lambda function

[2017-11-29 00:35] jptoto commented on #90
It does not at the moment, unfortunately, but that’s on my roadmap. I need to do that soon!

JP Toto
________________________________
From: JamesBridgeford <notifications@github.com>
Sent: Tuesday, November 28, 2017 4:33:53 PM
To: jptoto/log4net.ElasticSearch
Cc: JP Toto; Assign
Subject: Re: [jptoto/log4net.ElasticSearch] .NET Core / netstandard support (#90)

Does this mean that log4net.ElasticSe

[2017-11-29 01:23] JamesBridgeford commented on #90
That's unfortunate, but glad it's at least on the roadmap.  Do you have any suggestions for alternatives?  I'd like to stick with using log4net for now as that is what is used in all my other applications.

________________________________
From: JP Toto <notifications@github.com>
Sent: Tuesday, November 28, 2017 6:35:28 PM
To: jptoto/log4net.ElasticSearch
Cc: James Bridgeford; Comment
Subject: Re:

[2018-01-04 09:32] #60 closed

[2018-01-18 09:11] samjudson opened #95 "NuGet dependancy doesnt match log4net package used"
You appear to currently be using log4net v 2.0.5 according to your packages.config file.

However on nuget.org the dependancy is listed as log4net (>= 2.0.3)

[2018-02-09 15:30] pablrito opened #97 "elasticsearch 6"
Hi , It worked when we logged to elasticsearch 5 but after upgrade to elasticsearch 6 it has stopped , any idéa ?

[2018-02-19 01:36] jptoto commented on #97
@pablrito can you be more specific about the error? I just ran the tests against Elasticsearch 6.2.1 and didn't have any issues.

[2018-02-19 01:36] #97 closed

[2018-02-19 01:39] jptoto commented on #95
@samjudson quite right. Good catch, thanks! (sorry for the slow reply)

[2018-02-19 01:46] #95 closed

[2018-05-10 23:17] aadiwarden opened #99 "Elastic Cloud connection issue"
Hi there, so I am trying to connect to an elastic cloud but I'm most probably getting the config file connections wrong since according to #76 it is possible to connect to an elastic cloud, is it possible for somebody to give an example of how the appender would look like while connecting to an elastic cloud server?

[2018-05-10 23:18] aadiwarden commented on #99
Hi there, so I am trying to connect to an elastic cloud but I'm most probably getting the config file connections wrong since according to #76 it is possible to connect to an elastic cloud, is it possible for somebody to give an example of how the appender would look like while connecting to an elastic cloud server?

[2018-05-12 00:45] jamestoto commented on #99
@aadiwarden can you tell me more about your Elastic cloud setup? Is it on AWS or GCP? Maybe I can duplicate your issue and check it out.

[2018-05-12 00:47] jptoto commented on #99
@aadiwarden Can you tell me more about your cloud setup? AWS or GCP? Maybe I can duplicate the issue and check it out.

[2018-06-01 14:00] antonkorovaikin opened #100 "Fields mismatch"
Hello!
I'm using log4net.ElasticSearch with log4net.ElasticSearch-AWS
I have ES AWS service.

Maybe you know why I'm getting some additional fields in es:
[code]
Some of this fields are not in logEvent class and vice versa.
Most important for me to get properties from logEvent.

Looking forward for your reply.
Best regards!

[2018-06-05 13:49] jptoto commented on #100
@antonkorovaikin off the top of my head I don't know why you'd get extra data except to guess that amazon is adding it in their hosted instance. I will try to replicate this issue on my side and let you know if I can tell what it is.

[2018-06-06 16:10] ferreirix opened #101 "Custom routing"
Hi,

I'm trying to implement routing as described [here](https://www.elastic.co/blog/customizing-your-document-routing) but I haven't figured it out how to specify my route in the connection string.

`    <connectionString value="Server=192.168.xxx.xxx;Index=sync?routing=synx5;" />
`

Thank you in advance for any help :)

[2018-06-06 17:35] ferreirix commented on #101
After digging the code a little bit, I believe that we would need to actually add a parameter to support this scenario, right?

In their examples there is:
`$ curl -XPOST 'http://localhost:9200/store/order?routing=user123' -d '
{
   "productName":"sample",
   "customerID":"user123"
}`

which represents:
`$ curl -XPOST 'http://localhost:9200/{INDEX}/{DOC_TYPE}?routing={ROUTE_PARAM}`

Sorry for some

[2018-06-06 18:32] ferreirix commented on #101
PR -> #102

I'd also like to add the possibility to create index per month/year. Right now there is only the option for daily index right? What do you think?

Cheers

[2018-06-07 01:04] jptoto commented on #101
@ferreirix Right on! I never thought to add routing but there's certainly no reason why not. Nice work.

I only recently have encountered users who use weekly or monthly indices so that's definitely something that we can implement Mind working on a PR for that?

[2018-06-07 01:37] #101 closed

[2018-06-07 08:08] djl394922860 commented on #90
+1

[2018-06-07 13:08] jptoto commented on #90
There is a PR pending for this which I need to come back to. The issue I'm waffling on is that log4net itself for netstandard pulls in all kinds of dependencies and I'm fearful it's going to cause problems for log4net.Elasticsearch users. Having said that, I suppose that's better than no support at all. I will try to look at this again tonight.

[2018-06-07 13:49] ferreirix commented on #101
Yes i can take a look. Do you have any idea for the xml configuration of this feature?

[2018-06-08 09:20] TrueBurn commented on #90
+1

[2018-06-18 16:24] ferreirix commented on #101
@jptoto What do you think of adding a pattern like Index=myIndex{yyyy-mm} . Or do you have another idea? Because this would be a little redundant with the Rolling parameter.

[2018-06-21 19:20] mayurjurani commented on #90
+1

[2018-06-22 18:01] mayurjurani commented on #81
@jptoto What about using https://github.com/urielha/log4stash ? Won't it be a non blocking behavior for logging ?

[2018-07-11 17:13] hpinsley commented on #90
@jptoto Is this still on the roadmap?

[2018-07-25 08:21] juzamdjinn opened #103 "Json strange format"
Hi , i have this stack
fluentd , elasticserach  and kibana.

I use this configuration for the appender :

`
<appender name="ElasticSearchAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch">
      <connectionString value="Scheme=http;Server=myserver;Index=m3s.log;Port=8888;rolling=true" />
      <lossy value="false" />
      <evaluator type="log4net.Core.LevelEvaluat

[2018-07-31 15:41] jptoto commented on #103
@juzamdjinn I apologize for the slow reply. I don't _think_ that index name will work since you have a "." in it. Can you try without the dot "." and see if your index is created correctly?

[2018-08-06 14:39] #103 closed

[2018-08-20 12:51] mynkow opened #104 "Nuget package is in DEBUG"
Could you please release a nuget package built in release?

The current package is in DEBUG:
https://gyazo.com/aa2c7184534152ef02762d0543ad3146

10x

[2018-08-31 10:16] googlecookie opened #105 "convert timestamp to local time"
Currently, the timestamp property is using UTC, but we want to record our local time, so, can you add a option that we can convert the timestamp value to local time?
And Clock.Date also has this problem.
Thank you!

[2018-10-16 12:09] ttermeer-reboundcg commented on #90
@jptoto Any update ?

[2018-11-08 18:34] Nimesh1987 opened #106 "log4net.ElastichSearch MutliThread apps doesn't log all the logs into ElasticSearch"

[2018-11-08 18:35] Nimesh1987 commented on #106
MutliThread apps doesn't log all the logs into ElasticSearch

[2018-11-19 17:50] sparky2708 opened #107 "Failed to send all queued events in OnClose"
I have an ELK/Kibana installation and when I try to use the ElasticSearchAppender I get:

log4net:ERROR [ElasticSearchAppender] ErrorCode: GenericFailure. ElasticSearchAppender [ELKAppender]: Failed to send all queued events in OnClose.

What am I doing wrong?

[2018-11-22 14:08] dhirajnayak commented on #99
Trying to log to Elasticsearch on AWS, does not work. Following is the config -
<appender name="ElasticSearchAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%date [%thread] %-5level %message (%logger{3})" />
      </layout>
      <connectionString value="Sc

[2018-12-27 09:31] hpfan commented on #90
+1 still on the roadmap?

[2019-01-03 14:59] jptoto commented on #90
Yes, sorry about that folks. I will do this shortly I promise!

[2019-01-15 14:56] solstarz commented on #99
Im also trying to log to Azure in my case, but its not working.

Is there a fix for this issue?

[2019-01-24 19:02] jptoto commented on #104
Didn't realize that. Yes, I can. Sorry for not noticing this sooner.

[2019-01-25 09:06] igormer opened #108 "Add configuration option to use pipeline"
Currently there is no way to use the ingest pipeline.
Would be good to add this feature.
The value can come from connectionString and be used to form Uri.

[2019-01-29 12:03] jepzen opened #109 "Can it be used for production?"
I found this pluging and I looks great and easy to use.  But on your wiki page you write "You probably shouldn't use this in production"

Is that true or has the Wiki not been updated for a while?

[2019-01-29 13:48] jepzen commented on #109
Thanks for answering. I will try that. Works really nice in development so would love to use it for real. But my app is already using log4net to a SQL database and a lot of text files. Dont they suffer from the same thing?

[2019-01-29 14:05] jptoto commented on #109
It's hard to say, but potentially? You can test by running your app but disabling the SQL Database to see how it performs when the receiving data source is not available.

[2019-02-06 15:12] dktue commented on #90
Any update on this?

[2019-02-07 02:04] jptoto commented on #104
I pushed a 2.4.0 beta version of the library tonight that should be compiled to Release now. Sorry about that.

[2019-02-07 02:04] #104 closed

[2019-02-07 02:05] jptoto commented on #90
I pushed 2.4.0-beta to the gallery this evening with netstandard2.0 support thanks to https://github.com/jptoto/log4net.ElasticSearch/pull/98 Please test as you have time and let me know of any issues.

[2019-02-07 02:31] jptoto commented on #106
I'm not sure log4net is thread safe, to be honest. This would not be a log4net.Elasticsearch issue.

[2019-02-07 02:31] #106 closed

[2019-02-07 02:32] jptoto commented on #107
I would need some more info here. Could you generate a log to see what is happening? https://github.com/jptoto/log4net.ElasticSearch/wiki/04-Debugging-log4net.ElasticSearch

[2019-02-07 02:32] #107 closed

[2019-02-07 02:32] #73 closed

[2019-02-07 02:35] jptoto commented on #94
This should now be targeting 2.0.8, at least in the 2.4.1-beta version.

[2019-02-07 02:35] #94 closed

[2019-02-07 02:37] jptoto commented on #99
@solstarz can you tell me more about your configuration? What are you trying to log to in Azure? A custom Elasticsearch cluster? What ports are exposed?

@dhirajnayak are you trying to log from outside of AWS or inside? Are your security groups setup correctly? What is the error you're seeing?

https://github.com/jptoto/log4net.ElasticSearch/wiki/04-Debugging-log4net.ElasticSearch The more logs we

[2019-02-07 02:38] #100 closed

[2019-02-07 02:39] jptoto commented on #105
@googlecookie I don't think this would be a good feature to add. Keeping the time in UTC is universal to everyone and can be converted on read via your application.

[2019-02-07 02:39] #105 closed

[2019-02-08 08:22] solstarz commented on #99
Hi @jptoto,

My config is a basic url on a LB with the default port 9200 with basic auth enabled.
The Elastic stack is running on Kubernetes.

Were trying to sent dotnet logging to elasticsearch.
I have created the index in elasticsearch where the entries can be logged, but for some unknown reason it fails.

[2019-02-08 14:24] jptoto commented on #99
Right so we need to see what the exact error is. For example, if you created the index with the wrong types, the inserts may not work. Can you do some logging per my last link?

[2019-02-11 09:02] solstarz commented on #99
@jptoto With what type should i create the index with? I added the code for debugging, but i dont see any errors in it..

[2019-02-11 14:32] jptoto commented on #99
@solstarz it would actually be better if you didn't create the index at all and let log4net.Elasticsearch do it. Then Elasticsearch will set the types on its own. If that does not help and without logs I'm afraid I can't say what the problem might be.

[2019-02-11 14:32] #99 closed

[2019-02-27 14:41] igor4best commented on #108
I can give you a hand. I'd rather prefer to use your nice repository instead of my own fork :)

[2019-02-27 14:44] igormer commented on #108
I can give you a hand. I'd rather prefer to use your nice repository instead of my own fork :)

[2019-03-01 16:03] joenmaes commented on #91
I ran today in the same "(406) Not Acceptable" error when I tried to run the sample project in combination with ElasticSearch 6.5.4
The problem was related to the old packages referenced in the sample project and resolved after updating to the latest stable version.

[2019-03-01 16:04] jptoto commented on #91
Thanks for the note @joenmaes I'll update the sample project and push it up.

[2019-03-08 11:26] pavini opened #110 "Remote user addres"
Dear, The remote user IP address was not logged?

[2019-03-15 16:30] msaccone opened #111 "You shouldn't just do nothing when catching an Exception"
https://github.com/jptoto/log4net.ElasticSearch/blob/c4e3c80d4388fcdb6dfb49cacf4afc3756159a08/src/log4net.ElasticSearch/Repository.cs#L45

I've been working with this plugin, and faced a certificate self signed issue.

I didn't have any clue because of this void catch.

[2019-05-07 15:04] Salgat commented on #90
@jptoto We've been using the prerelease for several months now with success. Any chance of a stable version release? Hoping to remove the prerelease from our dependencies since it requires some extra actions to install our nugets that depends on the prerelease (stable version nugets don't like prerelease dependencies).

[2019-07-09 19:59] DontWorry33 opened #112 ".NET Core console application does not log unless program execution is halted"
Hello,

When I was trying to create an example application (similar to https://github.com/jptoto/log4net.ES.Example but for .NET Core instead), I realized that logging into elastic does not work unless there is a `Console.ReadKey() ` or anything that lets the application halt its execution at the end of the Program. This is not the same case when running the example application linked above as tha

[2019-08-05 09:41] indexlang opened #113 "docker problem"
when I use the nuget package in windows 10,there is no problem,
but when I publish my project to docker ,they cannot work well and have no error info.

[2019-08-15 11:04] bruno-garcia commented on #113
If it's working from Windows, and you didn't change the configuration at all when creating the docker image it's more likely it's a networking issue. Where the app can't reach the indexer.

It's hard to help you in this case. Specially without any repro. Feel free to reopen if you can provide some small reproducible.

[2019-08-15 11:04] #113 closed

[2019-08-15 11:37] bruno-garcia commented on #112
One difference between your sample and the one you mentioned is that your are using `bufferSize=1`. The sample uses 100 which uses the bulk API. I'm not sure it has anything to do because this Appender derives from [`BufferingAppenderSkeleton`](https://logging.apache.org/log4net/log4net-1.2.13/release/sdk/log4net.Appender.BufferingAppenderSkeleton.html),  which is asynchronous. So in any case you

[2019-08-15 12:38] bruno-garcia commented on #111
Agreed. We should let it bubble up. The Appender actually supresses all exceptions while logging them to `log4net.Core`

[2019-08-15 12:41] #111 closed

[2019-08-15 12:49] bruno-garcia commented on #111
Published as [2.6.0-preview](https://www.nuget.org/packages/log4net.ElasticSearch/2.6.0-preview)

[2019-08-26 07:59] HHHartmann opened #115 "Link to project at nuget.org broken"
at https://www.nuget.org/packages/log4net.ElasticSearch/ there is a "Project Site" link which atm points to https://jptoto.github.io/log4net.ElasticSearch/ which does not exist.
Maybe better change to https://github.com/bruno-garcia/log4net.ElasticSearch

[2019-09-01 14:34] Rivka-Sh opened #116 "Logs are not logged"
Hi,

I executed Elasticsearch and Kibana so they are working on my machine and I can access to http://localhost:5601/ and view Kibana site
I copied your application into my C directory as well and run it(after download log4net.ElasticSearch via pmc)
Unfortunatly on the Elastic & Kibana open windows & localhost:5601 nothing is happens.. I don't see any log that is logging there.

Any idea what I am

[2019-09-22 09:35] bruno-garcia commented on #116
Sorry but what application are you referring to?
Could you please share the code so we can investigate?

[2019-09-22 09:36] bruno-garcia commented on #115
Thanks for raising this. The only way to fix the link is to publish a new package. So on the next release we'll get this one sorted.

[2019-09-22 09:40] bruno-garcia commented on #115
I've actually already changed it. Just didn't want to publish a package just to fix that link:

https://github.com/bruno-garcia/log4net.ElasticSearch/commit/563dac766fa793b4c30759951dca8428242af055#diff-e23df3beec566d515a0d72470e7dc60b

[2019-09-22 09:48] bruno-garcia commented on #110
Could you please elaborate? What did you expect to receive?
What are you logging and what did you expect to be sent to ES?

[2019-09-22 09:49] bruno-garcia commented on #108
@igormer a PR would be very much appreciated. Thanks!

[2019-10-04 13:01] tylerrbrown commented on #83
I added a pull request with a new configuration option:

      <fieldNameOverride type="log4net.ElasticSearch.FieldNameOverride, log4net.ElasticSearch">
        <original value="timeStamp" />
        <replacement value="@timestamp" />
      </fieldNameOverride>

...that allows you to override any field name (I needed @timestamp too).  Fixed a few bugs I ran into, and added a setting:

<rollingInde

[2019-10-09 09:35] sammhill commented on #116
Elastic and Kibana are two separate things.

Elastic performs data storage, Kibana is just a visualiser.

You probably want to try and log to http://localhost:9300 or http://localhost:9200

[2019-11-26 12:04] vpatel-fintech opened #118 "Performance issue while generating logs in loop"
Hi

I was trying to generate logs using the Log4Net appender.

I have C# client and using
log4net version="2.0.8"
log4net.ElasticSearch version="2.5.0"
log4net.ElasticSearch-AWS version="2.3.5"

Packages to generate the logs and while generating the logs in loop like below

for (int i = 0; i < 100; i++)
{
           //generate logs
}

I am only getting 6 to 8 logs only in the index.

below is my a

[2019-12-04 10:40] fightlikeagirl opened #119 "Can't see logs even there is no error"
Hello, I followed the settings that you show. I can't see the logs .
This is config file App.config: (.Net Framework 4.6)

[code]
AssemlyInfo.cs :
`[assembly: log4net.Config.XmlConfigurator(Watch = true)]
[assembly: RepositoryAttribute("NetTweetLog")]`

and log4net.txt for logs :
`\log4net.dll]. (.NET Runtime [4.0.30319.42000] on Microsoft Windows NT 6.2.9200.0)
log4net: defaultRepositoryType [log

[2019-12-04 11:18] fightlikeagirl commented on #119
I solved it from your example . Sorry

[2019-12-04 11:18] #119 closed

[2019-12-04 16:35] pfeigl opened #120 "Bad Request (400) returned from Elasticsearch Server (v7.4.2)"
We are seeing the following error for any log request which we make towards our elasticsearch instance

[code]

Are we doing anything wrong? We tried the latest version of this library `2.6.0-preview2`

Thanks,
Philipp

[2019-12-04 20:39] pfeigl commented on #120
Possibly an important deatil: For testing I set the bufferSize to "1" to have every logline transferred to Elasticsearch, so I was probably testing without the bulk API.

[2019-12-07 17:51] bruno-garcia commented on #120
Does this happen with the bulk API? IMHO the non-bulk API doesn't make much sense in any real production environment so if that's the culprit, maybe nothing really to be done except perhaps dropping support.
Also, can you please test it with `2.5.0`? Maybe it's a problem introduced in the new version which is preview.

[2019-12-07 17:53] bruno-garcia commented on #118
When you call a synchronous method `logger.Log` it doesn't block the calling thread to flush logs over the network. Instead it queues it up for submission.
Your application in a tight loop will always be able to produce more logs than the library can handle. It's simply easier to create more objects in memory than it is to serialize them and send them over the wire.

[2019-12-09 07:40] pfeigl commented on #120
I tried 2.5.0 before updating to the preview versions - with the same effect.
The problem only comes up when using the bulk API, I just changed the bufferSize to 1 to see every log coming in instantly. I have to agree, that this is probably not a production usecase.

I just had problems with the bulk API at first too and thought it would be the same problem, but later found out, that I had to name

[2019-12-09 18:29] koderi-dp opened #121 "Httpclient - httpresponse issue"
Hi,

when using this library in net core console app 2.2, i get exception

System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'System.Net.HttpWebResponse'.

i think problem is in this part (httpResponse.Close)

[code]
why not change it to

[code]
then it is working

[2020-01-04 11:17] bruno-garcia commented on #120
I see. Sounds like you figured it out (fixed the index casing)
I'l close the issue then. Feel free to reopen otherwise.

[2020-01-04 11:17] #120 closed

[2020-01-04 11:20] bruno-garcia commented on #121
@koderi-dp do you have a stack trace so we can point to the exact line number?
You suggest by _then it is working_ because you've made that change and verified the fix?

You could add [Sentry](https://github.com/getsentry/sentry-dotnet) to your app so errors would be sent there even if your logging isn't working.

[2020-01-04 11:20] #118 closed

[2020-01-04 11:21] bruno-garcia commented on #76
Closing due to inactivity.
Feel free to reopen if this is still an issue.

[2020-01-04 11:21] #76 closed

[2020-01-04 11:22] bruno-garcia commented on #80
You can define a proxy via the standard configuration (app.config or web.config) and it'll be picked up by the library.

[2020-01-04 11:22] #80 closed

[2020-01-05 08:46] koderi-dp commented on #121
Hi, exception was in line where status code is checked,
 if (httpResponse.StatusCode != HttpStatusCode.Created && httpResponse.StatusCode != HttpStatusCode.OK)

I had to download the source change it like in sugestion (put it in using without manualy closing the connection) and its working without issues, it looks if you acces status code prop of disposed response it will throw exception, didnt go

[2020-01-05 09:03] bruno-garcia commented on #121
Makes sense. Would you open a PR with the fix for this?

[2020-01-05 09:57] koderi-dp commented on #121
Sure

[2020-01-05 11:27] koderi-dp commented on #121
#122 created

[2020-01-05 13:14] #121 closed

[2020-01-12 16:14] maqeelqureshi opened #123 "Logging not working on production"
I need to shift my application logs from file to elk. Logging on elk is working fine on my local environment (without credentials) but its not working on production.

On production, if i just switch appender to RollingFileAppender text file logging works.

Following is the output of internal debugging.

`log4net: log4net assembly [log4net, Version=2.0.8.0, Culture=neutral, PublicKeyToken=669e0ddf0

[2020-01-13 09:52] maqeelqureshi commented on #123
Issue resolved. Password with "@" was the issue.

[2020-03-03 04:41] LuciaVeldera commented on #119
How can you solve it? I struggle the same issue as you but I don't know where to look at. @fightlikeagirl

[2020-05-02 19:24] bruno-garcia commented on #123
Often production server require a proxy to access the Internet. With .NET Framework you can set it up via `app.config` or `web.config` (or even machine.config).
Other than that it's hard to help troubleshoot these issues since it's probably some configuration in your prod environment.

Lastly the **sometimes it works** is a bit more worrying. Can you reproduce that also with an instance of elastic

[2020-08-31 03:36] KagurazakaNyaa opened #126 "Please sign the assembly strong name"
An non-strong-named assembly cannot be referenced by a strong-named assembly, and the current assembly in NuGet is a non-strong-named assembly.

[2020-08-31 03:38] KagurazakaNyaa commented on #126
Please see [here](https://docs.microsoft.com/en-us/dotnet/standard/assembly/create-use-strong-named) for details.

[2020-09-06 20:11] bruno-garcia commented on #126
I'm not planning to strong sign the assembly at the moment but you can do it yourself:

https://github.com/dsplaisted/strongnamer

[2020-09-07 00:56] KagurazakaNyaa commented on #126
It works, thank you.

[2020-09-07 00:56] #126 closed

[2020-10-29 10:19] Abdullah-Mukhtar opened #127 "how to add perameter in index value"
I have to add clientID from parameter into index and my index will be like "log-@clientID"
can you please guide me how to add perameter in index?

[2020-11-03 09:15] slav4ik51493 opened #128 "Index name with format date YYYY.MM instead YYYY.MM.DD"
Hello everyone!
I have issue with rolling index names.
How I can provide my specify format of date for rolling?

I use 2.3.7.0 version.
I saw source code of 2.5.0 version and this version has `public string RollingIndexNameDateFormat { get; set; } = "yyyy.MM.dd";`. Okay, I can update to 2.5.0 but don't found info in docs how I can customize this RollingIndexNameDateFormat. Can you provide new vers

[2020-11-03 17:23] niccolettag commented on #128
Hi!

I am having the same issue and cannot find a workaround :( Tried to add datepattern tag but it did not help.

Any input would be appreciated.

[2020-11-05 03:03] slav4ik51493 commented on #128
@niccolettag I found solution, but this is not good.
I used 2.3.7 version and not found source code for this version.
I disassembly with dotPeek 2.3.7 dll and change index format rolling in Models/Uri.cs file, rebuild with Release mode.
Next, remove Nuget package from my solution and use my new, changed dll file.
This works fine. I know, hard will be update in future this library, but my project l

[2020-11-07 14:36] KamranShahid opened #129 "No new Release?"
Just checking the repository and it seems there isn't much activity recently. What's the plan with latest release. log4net itself have released 2.0.12 release but this repository is referencing 2.0.8.

[2020-11-13 09:13] KamranShahid opened #130 "To be Delete"
please delete

[2020-11-18 12:14] KamranShahid opened #131 "Problem If having Empty connection string"
I am creating Connection string dynamically. when i am leaving my default connection string to empty my application get into infinite loop.
I am using .net core 3.1. On investigation i found the reason is due to Uri.cs
Ideal fix should be like in the attached class

[Uri.zip](https://github.com/bruno-garcia/log4net.ElasticSearch/files/5559907/Uri.zip)

[2020-12-06 01:36] bruno-garcia commented on #129
There are no changes to release at this point.

You're free to pin the version to log4net in the latest version. Bumping it here will create friction to users who can't upgrade yet.

[2020-12-06 01:38] bruno-garcia commented on #131
I don't follow what is the culprit of the error.
You can make a [pull request here on GitHub](https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/about-pull-requests) to offer the code that fixes the problem.

With that I can review the change and merge, and release.

[2020-12-06 01:38] #130 closed

[2020-12-06 01:39] bruno-garcia commented on #127
I suggest raising a question on [stackoverflow](https://stackoverflow.com/) and tagging [elasticsearch] for this question.

[2020-12-06 01:39] #127 closed

[2020-12-06 01:41] bruno-garcia commented on #128
You can customize by setting the format on the appender configuration, like this:

https://github.com/bruno-garcia/log4net.ElasticSearch/blob/3929690800d3f228a33cff0336ca8c941052dd4f/src/log4net.ElasticSearch.Tests/logConfig.xml#L21

[2020-12-06 06:20] KamranShahid commented on #131
culprit was not checking dictionary.containsKey for various key in connection string. will learn about this pull request in a bit of free time

[2021-05-28 11:17] KamranShahid commented on #131
Hi @bruno-garcia ,
Hope you are doing good. Is it possible to make latest build available on nuget package with this fix and any other code improvement you have done since 2.5.0
In nuget What I can see is preview release (2.6.0-preview2) with dated Tuesday, October 15, 2019.

[2021-05-28 12:26] bruno-garcia commented on #131
Good point. I'll make a release this weekend.

[2021-05-31 08:48] KamranShahid commented on #131
Thanks bruno. Do add a small line here whenever it is done
Thanks

[2021-06-01 22:04] bruno-garcia commented on #131
I pushed another preview out, please let me know how things work so we can roll out a stable one:

[2021-06-02 09:39] KamranShahid commented on #131
Looks like This preview have null check resolved via new extension method?
One thing i noted is it is using old nuget pacakges for log4net and newtonsoft. it would be great if you can use the updated packages there as well

[2021-06-03 03:20] bruno-garcia commented on #131
Sorry but I'm not sure I understood the question. Could you please clarify?

I updated `log4net` because there's a security issue in it, but feel free to set the latest version for those directly on to your project. .NET then will prefer the explicit version.
This package supporting a lower version just means if you (for some reason) is stuck on an older version, this package will be fine with it.

[2021-06-07 14:56] KamranShahid commented on #131
I was saying that if some configuration of connection string missing i hope no exception raise in the current preview release.
I have upgraded to preview release and will be unit testing things in upcoming days.
Thanks

[2021-06-25 10:29] Abouzeid commented on #123
I faced a similar issue today. I'm posting here, as it might save someone's time (and sanity).

ElasticSearch:  7.13.2
log4net.Elasticsearch: 2.5.0
Net framework: 4.6.2
Schema: HTTP

Elasticsearch server returned the "401 unauthorized " in the **GetResponse** method
           https://github.com/bruno-garcia/log4net.ElasticSearch/blob/d5f2b884d54593a24a8fb01028de8787f1272244/src/log4net.ElasticSea

[2021-07-05 17:51] a08maheshwari commented on #99
I am facing a similar issue, I am using AWS Elastic Search Service with basic authentication, I tried everything from the link(https://github.com/jptoto/log4net.ElasticSearch/wiki/04-Debugging-log4net.ElasticSearch) as well, but it is not working
Can you please confirm, it will work for AWS Elastic Search Service or not

[2021-07-05 17:53] a08maheshwari opened #133 "AWS Elastic Search Service connection issue with log4Net"
I am using Amazon Elasticsearch Service for creating domains using a fine-grained access domain( username and password)

I have configured app.config like this
<?xml version="1.0"?>
    <configuration>
        <configSections>
            <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        </configSections>
        <startup>
            <supportedRu

[2021-07-07 07:37] Abouzeid commented on #133
As a starting point:
1. Create a new account in ElasticSearch, but make sure that the username and password are in plaintext.
**No special characters in the password.**  For example, username: _name_ & password: _pswd_

2. It might be a **permission problem**, therefore,  give the user a high role (e.g _superuser_).

[2021-07-16 12:48] antebuntic opened #134 "Is there a way to store the connection string encrypted?"
Hi,

I store ConnectionString in plain text in app.setting like:

`<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <log4net>
      <appender name="ElasticSearchAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch">
        <connectionString va

[2021-09-27 14:45] JenMatlock opened #135 "Can't set property in config"
Hi. I'm trying to implement this in a .net 4.5 Windows service. We're already using log4net to log to a db and to a Gelf4Net appender. I've added in log4net.ElasticSearch, but when I run the service I get the following error in the output:

log4net:ERROR XmlHierarchyConfigurator: Cannot find Property [rollingIndexNameDateFormat] to set object on [log4net.ElasticSearch.ElasticSearchAppender]

I can

[2021-09-28 10:10] JenMatlock commented on #135
So looks like the problem is that the version in nuget, which we're using, was last updated in Aug 2019 and the rollingIndexNameDateFormat property is more recent. Can someone please update the version in nuget?

[2021-10-24 09:58] Feralnex opened #136 "Can't log to kibana"
Hello,
So my problem is that i followed Project Setup in documentation on GitHub and it doesn't seem to work. I run elastic and kibana in docker, changed port to appropriate port to forward it on 9200 in container and i can't see any logs at http://localhost:55002<9200 in container>/_cat/indices?v except those:

[code]

I'm using:
- 4.5 .Net version:
- Latest log4net.elasticsearch version

Am i mi

[2022-02-01 13:36] #134 closed, assigned to nobody

[2022-05-11 11:21] adamfarmer0 opened #137 "Error - Could not create SSL/TLS secure channel when using Azure Elastic-Search"
![image](https://user-images.githubusercontent.com/77245567/167837309-9d644a0f-daf6-4e4b-87b1-5413ef6dd8ce.png)

I am getting this error when trying to connect to azure elastic-search.

my config:
[code]

Can anyone tell me how can I fix this? It's probably some certificate issue, but I can't figure it out.

[2022-05-11 11:37] adamfarmer0 commented on #137
I have fixed it by adding:
[code]
in Startup.cs, inside Configuration method. For anyone that gets this error, this is the solution.

[2022-07-22 14:31] bruno-garcia commented on #137
Nice. thanks for sharing the fix @adamfarmer0

[2022-07-22 14:31] #137 closed, assigned to nobody

[2022-07-22 14:45] bruno-garcia commented on #135
Could you please try with https://www.nuget.org/packages/log4net.ElasticSearch/2.6.0-preview3 and confirm it works?

[2022-07-22 14:45] bruno-garcia commented on #136
It's not clear what ur set up is, hard to tell with the given info. The issue was raise da while back, did you have any luck since?

[2022-08-26 07:41] gregfurman commented on #128
Changing the value to "yyyy-MM" does not work and seemingly just defaults back to "yyyy-MM-dd". We are using log4net.ES v2.5.0 and log4net  v2.0.8

[2022-09-02 14:22] JenMatlock commented on #135
Thanks, @bruno-garcia tested and the rollingIndexNameDateFormat property is now working as expected. Haven't seen any issues.

[2022-11-11 20:35] #135 closed, assigned to nobody